5. Operadores

In [1]:
# 5.1. Operadores aritméticos
# Se tiene: +, -, *, /, **, %, //

In [2]:
numero1 = 18
numero2 = 7
suma = numero1 + numero2
resta = numero1 - numero2
multiplicación = numero1 * numero2
división = numero1 / numero2
potencia = numero1 ** numero2
residuo = numero1 % numero2
cociente = numero1 // numero2
print(suma)
print(resta)
print(multiplicación)
print(división)
print(potencia)
print(residuo)
print(cociente)

25
11
126
2.5714285714285716
612220032
4
2

In [3]:
# 5.2 Operadores de asignación
# Se tiene: =, +=, -=, *=, /=, **=

In [4]:
numero = 5
numero = numero + 3
print(numero)

8

In [6]:
# La operación anterior también se puede expresar de la siguiente manera:
numero = 5
numero += 3
print(numero)

8

In [7]:
# Lo mismo se puede hacer en todos los casos, incluido la potencia
# Veamos otro ejemplo

In [8]:
numero = 5 
numero = numero ** 3
print (numero)

125

In [9]:
# La operación anterior también se puede expresar de la siguiente manera:
numero = 5
numero **= 3
print (numero)

125

In [10]:
# 5.3 Operadores de comparaación
# Se tiene: ==, <, >, <=, >=
# Ejemplo de igualdad
numero1 = 5
numero2 = 2
numero1 == numero2

False

In [11]:
# Con las cadenas funciona igual
nombre1 = "Juan"
nombre2 = "Juan"
nombre1 == nombre2

True

In [12]:
# 5.4 Operadores lógicos
# Se tiene: and, or, not
numero1 = 5
numero2 = 6
numero3 = 7
numero4 = 8

In [13]:
numero1 < numero2

True

In [14]:
# El no invierte el resultado
not(numero1 < numero2)

False

In [15]:
numero1 < numero2 and numero3 < numero4

True

In [16]:
# También puedes utilizar paréntesis para ordenar tu operación
(numero1 < numero2 and numero3 < numero4) or (numero3 > numero4)

True

In [17]:
# 5.5 Operadores de pertenencia
# Se tiene: in, not in

In [18]:
# Un ejemplo:
aula = ["Juan", "Daniel", "Ruben"]
alumno1 = "Diego"
alumno2 = "Juan"

In [19]:
# ¿Diego está en el aula?
alumno1 in aula

False

In [20]:
# ¿Juan está en el aula?
alumno2 in aula

True

In [21]:
# ¿Diego no está en el aula?
alumno1 not in aula

True

In [22]:
# ¿Juan no está en el aula?
alumno2 not in aula

False

In [23]:
aula1 = ["Juan", "Daniel", "Ruben"]
aula2 = ["Juan", "Daniel", "Ruben"]
# A continuación vamos a indicar que aula3 va a compartir el mismo objeto que aula1
aula3 = aula1

In [24]:
# ¿aula3 comparte el mismo objeto que aula1?
aula3 is aula1

True

In [25]:
# ¿aula3 comparte el mismo objeto que aula2?
aula3 is aula2

False

In [26]:
# ¿aula1 comparte el mismo objeto que aula2?
aula1 is aula2

False

In [27]:
# Para agregar se usa la variable luego el .append()
aula1.append("Diego")

In [28]:
# Al imprimir los elementos de la lista aula1 se observa
print(aula1)

['Juan', 'Daniel', 'Ruben', 'Diego']

In [29]:
# Al imprimir los elementos de la lista aula3 se observa
print(aula3)

['Juan', 'Daniel', 'Ruben', 'Diego']

In [30]:
# Al imprimir los elementos de la lista aula2 se observa
print(aula2)

['Juan', 'Daniel', 'Ruben']