3. Manejo de cadenas

In [3]:
cadena = "Universidad Nacional Tecnológica de Lima Sur"
cadena

'Universidad Nacional Tecnológica de Lima Sur'

In [4]:
# Universidad Nacional Tecnológica de Lima Sur
# 0, 1, 2, 3, ...
#                ... -3, -2, -1

In [6]:
cadena [5]

'r'

In [7]:
cadena [21]

'T'

In [8]:
cadena [-23]

'T'

In [9]:
cadena [11]

' '

In [11]:
# Para mostrar una subcadena [desde, hasta un antes]
# En java era substring()
cadena [3:8]

'versi'

In [12]:
# Para saber el tamaño de mi cadena utilizamos len()
# Incluye espacios en blanco
len (cadena)

44

In [13]:
# Mostrar una cadena con mayúscula upper()
cadena.upper()

'UNIVERSIDAD NACIONAL TECNOLÓGICA DE LIMA SUR'

In [14]:
# Mostrar una cadena en minúscula lower()
cadena.lower()

'universidad nacional tecnológica de lima sur'

In [15]:
# Generar una lista a partir de la cadena.split()
cadena.split()

['Universidad', 'Nacional', 'Tecnológica', 'de', 'Lima', 'Sur']

In [16]:
# Generar una lista utilizando un criterio de separación a partir de la cadena.split
# En este caso vamos a generar uan lista de toda la cadena
# Utilizando como criterio de separación la letra "A"
cadena.split("n")

['U', 'iversidad Nacio', 'al Tec', 'ológica de Lima Sur']

In [17]:
# Forma clásica, concatenar con +
nombre = "Jhon Antony Urbisagastegui Huamani"
print ("Buenos Días" + " " + nombre)

Buenos Días Jhon Antony Urbisagastegui Huamani

In [18]:
# Utilizamos el .fomart()
nombre = "Carlos Curo Ramos"
edad = 19
print ("Hola {} ya se que tienes {} años" .format(nombre,edad))

Hola Carlos Curo Ramos ya se que tienes 19 años

In [19]:
# Dar formato a números con muchos decimales
resultado = 10/3
print ("10/3 es = {}" .format(resultado))
print ("10/3 es = {r:1.2f}" .format(r=resultado))

10/3 es = 3.3333333333333335
10/3 es = 3.33

In [20]:
# Dar formato con f
# La función f, está disponible desde la versión 3.6
nombre = "Elias Samuel Talledo Vega"
edad = 9
print (f"Buenos días {nombre}, ya sé que te gustan las que tiene {edad} años")

Buenos días Elias Samuel Talledo Vega, ya sé que te gustan las que tiene 9 años

In [22]:
# Dar formato a números con muchos decimales con f
resultado = 10/3
print(f"10/3 es {resultado}")
print(f"10/3 es {resultado:1.2f}")

10/3 es 3.3333333333333335
10/3 es 3.33